.idea
target/
.vagrant
derby.log
metastore_db/
spark-warehouse/
*.db
file.dbb
stdout.txt
logs/
master.pid
*.pyc
*.~
.DS_STORE
scalastyle-config.xml
/Vagrantfile
web/node_modules
web/script.js
spark_local
ui_local
*.egg-info
.eggs/
.pytest_cache/
env-*
dist/
build/
__version__.py
.bloop
.metals
.vscode
