<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!--Аппендеры -->
    <!--Файловый аппендер для JUL -->
    <appender name="jul" class="ch.qos.logback.core.FileAppender">
        <file>log_jul.log</file>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</Pattern>
        </layout>
    </appender>
    <!--Файловый аппендер для log4j -->
    <appender name="log4j" class="ch.qos.logback.core.FileAppender">
        <file>log_log4j.log</file>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</Pattern>
        </layout>
    </appender>
    <!--Консольный аппендер -->
    <appender name="sout" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
        </layout>
    </appender>
    <!-- Логгеры -->
    <!-- Корневой логгер -->
    <root level="info" >
        <appender-ref ref="sout" />
    </root>
    <!-- Логгер для jul  -->
    <logger name="julLog"  additivity="false" >
        <level value="trace" />
        <appender-ref ref="jul" />
    </logger>
    <!-- Логгер для log4j  -->
    <logger name="log4jLog"  additivity="false" >
        <level value="trace" />
        <appender-ref ref="log4j" />
    </logger>
</configuration>