html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}
.logo {
  width: 145px;
  height: 52px;
}
.mist-layout .mdl-layout__header .mdl-layout__drawer-button {
  color: rgba(0, 0, 0, 0.54);
}
.mdl-layout__drawer .avatar {
  margin-bottom: 16px;
}
.mist-drawer {
  border: none;
}
/* iOS Safari specific workaround */
.mist-drawer .mdl-menu__container {
  z-index: -1;
}
.mist-drawer .mist-navigation {
  z-index: -2;
}
/* END iOS Safari specific workaround */
.mist-drawer .mdl-menu .mdl-menu__item {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.mist-drawer-header {
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 6px;
}
.mist-avatar-dropdown {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.mist-navigation {
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.mist-layout .mist-navigation .mdl-navigation__link {
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(255, 255, 255, 0.56);
  font-weight: 500;
}
.mist-layout .mist-navigation .mdl-navigation__link:hover {
  background-color: #00BCD4;
  color: #37474F;
}
.mist-navigation .mdl-navigation__link .material-icons {
  font-size: 24px;
  color: rgba(255, 255, 255, 0.56);
  margin-right: 32px;
}

.mist-content {
  max-width: 1080px;
}

.mist-charts {
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.mist-chart:nth-child(1) {
  color: #ACEC00;
}
.mist-chart:nth-child(2) {
  color: #00BBD6;
}
.mist-chart:nth-child(3) {
  color: #BA65C9;
}
.mist-chart:nth-child(4) {
  color: #EF3C79;
}
.mist-graphs {
  padding: 16px 32px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
/* TODO: Find a proper solution to have the graphs
 * not float around outside their container in IE10/11.
 * Using a browserhacks.com solution for now.
 */
_:-ms-input-placeholder, :root .mist-graphs {
  min-height: 664px;
}
_:-ms-input-placeholder, :root .mist-graph {
  max-height: 300px;
}
/* TODO end */
.mist-graph:nth-child(1) {
  color: #00b9d8;
}
.mist-graph:nth-child(2) {
  color: #d9006e;
}

.mist-cards {
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start;
}
.mist-cards .mist-separator {
  height: 32px;
}
.mist-cards .mdl-card__title.mdl-card__title {
  color: white;
  font-size: 24px;
  font-weight: 400;
}
.mist-cards ul {
  padding: 0;
}
.mist-cards h3 {
  font-size: 1em;
}
.mist-updates .mdl-card__title {
  min-height: 200px;
}
.mist-cards .mdl-card__actions a {
  color: #00BCD4;
  text-decoration: none;
}

.mist-options h3 {
  margin: 0;
}
.mist-options .mdl-checkbox__box-outline {
  border-color: rgba(255, 255, 255, 0.89);
}
.mist-options ul {
  margin: 0;
  list-style-type: none;
}
.mist-options li {
  margin: 4px 0;
}
.mist-options .material-icons {
  color: rgba(255, 255, 255, 0.89);
}
.mist-options .mdl-card__actions {
  height: 64px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  box-sizing: border-box;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.mist-loader {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 200px;
  z-index: 1001;
}
.mist-loader__fog {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0.7;
  z-index: 1000;
}
.mist-textfield {
  width: 100%;
}
.mist-components__notice {
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
  background-color: #FFF9C4;
  padding: 16px;
  border-radius: 2px;
  color: #212121;
  text-align: center;
}
.hide {
  display: none;
}
.elementToFadeInAndOut {
  -webkit-animation: fadeinout 4s linear forwards;
  animation: fadeinout 4s linear forwards;
  opacity: 0;
}
@-webkit-keyframes fadeinout {
  50% { opacity: 1; }
}
@keyframes fadeinout {
  50% { opacity: 1; }
}
.mist-dialog {
  width: 680px;
  z-index: 1005;
}
.mist-dialog__content {
  overflow: scroll;
}
.mdl-data-table__cell--actions {
  width: 30px;
}
.CodeMirror-wrap {
  height: 230px !important;
  background-color: inherit !important;
  cursor: text !important;
}
.router-name {
    font-size: 18px;
    font-weight: bold;
    height: 22px;
    line-height: 22px;
    display: inline-block;
    vertical-align: text-top;
}
.router-details .mdl-chip {
    line-height: 22px;
    height: 22px;
}
.run-buttons {
    float: right;
}

.run-buttons .mdl-button {
    margin-left: 7px;
}

.run-buttons .mdl-switch {
    width: inherit;
    margin-right: 11px;
}

.mdl-switch__thumb {
    background: #3f51b5 !important;
}

.mdl-switch__track {
    background: rgba(63,81,181,.5) !important;
}